@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
.row{
    padding: 15px;
    font-family: 'Mouse Memoirs', sans-serif;
}
div{
    background-color: mediumorchid;
}
h1, h3{
    display: inline;
}
#curso1{
    width: 150px;
}
#curso2{
    width: 150px;
}