<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <div class="row">
        <h1>Educación</h1>
        <div class="col-lg-2">
           <img src="../../../assets/Logo_1.png" alt="" id="curso1">
        </div>
        <div class="col-lg-10">
            <ul>
                <h1>Argentina Programa</h1> - <h3>En Curso</h3>
                <li>Programación Imperativa y Estructura de Datos con Javascript</li>
                <li>POO con Ruby, solución de problemas y modelar la realidad con objetos</li>
            </ul>
        </div>
        <div class="col-lg-2">
            <img src="../../../assets/Curso_2.png" alt="" id="curso2">
        </div>
        <div class="col-lg-10">
            <ul>
                <h1>Codo a Codo 4.0</h1> - <h3>4 Meses</h3>
                <li>Técnicas de programación en lenguaje PHP</li>
                <li>Fundamentos de CSS y HTML</li>
                <li>Programación Orientada a Objetos (POO)</li>
                <li>Desarrollo web</li>
                <li>Principios y sistemas de gestión de las bases de datos relacionales</li>
                <li>SQL básico para consultar y mantener bases de datos</li>
                <li>Ciclo de vida del desarrollo de programas</li>
                <li>Sistema de control de versiones GIT</li>
                <li>Fundamentos de back-end y front-end</li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>

