<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="contenedor">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                    <div class="progress blue">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value"> <img src="../../../assets/html.png" alt="" width="90px"> </div>
                    </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="progress orange">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value"> <img src="../../../assets/CSS.png" alt="" width="90px"> </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="progress pink">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value"><img src="../../../assets/git.png" alt="" width="90px"></div>
                </div>
            </div>    
            <div class="col-md-3 col-sm-6">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value"><img src="../../../assets/PHP.png" alt="" width="90px"></div>
                </div>
            </div>
            <!--<div class="col-md-3 col-sm-6">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value"><img src="./img/PHP.png" alt="" width="90px"></div>
                </div>
            </div>-->
            <!--<div class="col-md-3 col-sm-6">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value"><img src="./img/PHP.png" alt="" width="90px"></div>
                </div>
            </div>-->
        </div>
    </div>
</div>
