<div class="row">
    <div class="contenedor">
        <div class="logo">
            <img src="../../../assets/Logo_1.png" alt="" id="logoAP">
        </div>
        <div class="redes">
            <div>
                
                <a href=""><img src="../../../assets/linkedin.png" alt="" class="social"></a>
                <a href=""><img src="../../../assets/github.png" alt="" class="social"></a>
                <button class="btn btn-outline-light">Login</button>

            </div>
        </div>
    </div>
</div>

